@font-face{
  /* Thin Italic */
  /* font-family: "SF Display";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/sf-ui-display-heavy-586470160b9e5.otf"); */

  /* Thin */
  font-family: "SF Display"; 
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/sf-ui-display-thin-58646e9b26e8b.otf");

  /* Thin Light */
  font-family: "SF Display";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/sf-ui-display-light-58646b33e0551.otf");

  /* Heavy
  font-family: "SF Display";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/sf-ui-display-heavy-586470160b9e5.otf"); */

  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}